* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    /* font-size: 14px; */
  background-size: 200% 100% !important;
  -webkit-animation: move 10s ease infinite;
          animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
  height: 100vh;
}

.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}

.user__header {
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.7s forwards;
          animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
  font-size: 18px;
  margin-bottom: -10px;
  font-weight: 500;
  color: white;
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.9s forwards;
          animation: arrive 500ms ease-in-out 0.9s forwards;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

input[type="time"]:before {
      content: attr(placeholder) !important;
      color: #aaa;
      margin-right: 0.5em;
    }
    input[type="time"]:focus:before,
    input[type="time"]:valid:before {
      content: "";
    }
input[type="number"]:before {
        content: attr(placeholder) !important;
        color: #aaa;
        margin-right: 0.5em;
      }
      input[type="number"]:focus:before,
      input[type="number"]:valid:before {
        content: "";
      }



.form--no {
  -webkit-animation: NO 1s ease-in-out;
          animation: NO 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
}
.form__input:focus {
  background: #f7f7f7;
}

.button{
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color:#3366ff;
  background: #ccffcc;
  transition: 0.3s;
}
.button:hover {
  background: #66ff66;
}

@-webkit-keyframes NO {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes NO {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media only screen and (min-width: 575px) {
  .container-fluid{
    height: 72vh;
  }
}

footer {
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgb(35, 37, 38);
  color: white;
  margin-top: 0px;
  padding-top: 10pt;
  padding-bottom: 0px;
  text-align: center;
}
dl, ol, ul {
  margin-top: 0px;
  margin-bottom: 1rem;
}
.list-unstyled {
  padding-left: 0px;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}
.mt-4, .my-4 {
  margin-top: 1.5rem;
}
ol, ul {
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.mt-4 {
  margin-top: 1rem;
}
.contact-text {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h4, h4 {
  font-size: 1.5rem;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.social li {
  display: inline-block;
}
.social li a {
  width: 35px;
  height: 35px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  display: block;
  line-height: 1.5em;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: black;
}
.fa-2x {
  font-size: 2em;
}
.icon:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}
.social .fa-envelope:hover {
  box-shadow: rgba(219, 68, 55, 0.4) 0px 0px 2px 4px;
}
a {
  color: inherit;
  text-decoration-line: inherit;
  text-decoration-thickness: inherit;
  text-decoration-style: inherit;
  text-decoration-color: inherit;
  background-color: transparent;
}
a:hover {
  color: rgb(0, 86, 179);
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a:not([href]):not([tabindex]):focus {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-envelope::before {
  content: "";
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.fa, .fas {
  font-weight: 900;
}
.text-copyright {
  background-color: rgb(33, 35, 38);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px 3px;
}
.m-0 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.pb-2, .py-2 {
  padding-bottom: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
b, strong {
  font-weight: bolder;
}
