/* intro-area css start */
.chart-container {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  h3{
    color: #ffffff;
    text-align: center;
  }
  /* intro-area css end */
